* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    display: flex;
    flex-direction: column;
    flex: 1 0 40vh;
    justify-content: space-evenly;
    width: 100%;
}

.log {
    flex: 100 0 0;
    width: 80%;
    border: solid black;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 20px;
    width: 150px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    
}

div.score {
    height: 200px;
    width: 150px;
    text-align: center;
    border: solid black;
    display: flex;
    flex-direction: column;
}

h3 {
    border-bottom: solid black;
}

.round-counter {
    text-align: center;
}

.round-results {
    padding: 10px;
}

.player-score,
.computer-score,
.tie-score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 48px;
}